.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020122;
  color: white;
  flex-direction: column;
}

.about-box {
  height: 375px;
  display: flex;
  margin-bottom: 80px;
}

.about-text {
  margin-left: 200px;
}

.about-profile {
  aspect-ratio: 2/3;
  max-width: 250px;
  position: relative;
}

.about-profile img {
  height: 100%;
  border-radius: 20px;
  border: 3px solid #ff521b;
}

.about-text {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.about-text p {
  font-size: 16px;
}

.about-skills {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.about-header {
  font-size: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.about-container h2 {
  margin-top: -70px;
}

.about-container .about-small-text span {
  font-size: 25px;
}

.about-skills span {
  background-color: #ff521b;
  color: white;
  padding: 5px 10px;
  margin: 0px 3px 10px 3px;
  border-radius: 5px;
  font-size: 20px;
}

.about-text .header-orange-red {
  color: #ff521b;
}

.about-container h4 {
  color: #ff521b;
  position: absolute;
  bottom: -95%;
  left: 13%;
}
