.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #020122;
}

.hero-container .hero-icons {
  color: #ff521b;
  position: absolute;
  opacity: 0.5;
}

.hero-container .closing-tag {
  font-size: 80px;
  right: 20%;
  top: 50%;
  transform: rotate(36deg);
}

.hero-container .code-branch {
  font-size: 60px;
  top: 10%;
  transform: rotate(-20deg);
}

.hero-container .code-commit {
  font-size: 50px;
  top: 16%;
  right: 28%;
  transform: rotate(20deg);
}

.hero-container .code-file {
  font-size: 50px;
  top: 65%;
  right: 40%;
  transform: rotate(-10deg);
}

.hero-container .icon-weight {
  font-size: 60px;
  left: 30%;
  top: 70%;
  transform: rotate(20deg);
}

.hero-container .hero-links {
  width: 40%;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  justify-content: space-around;
  height: 35px;
}

.hero-links h5 {
  font-weight: bolder;
}

.hero-container h4 {
  color: #ff521b;
  position: absolute;
  bottom: 5%;
}

.hero-container h5:hover {
  color: #ff521b;
}

:root {
  --typewriterSpeed: 1s;
  --typewriterCharacters: 22;
}

h3 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  position: relative;
  width: max-content;
}

h3::before,
h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h3::before {
  background: #020122;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h3::after {
  width: 0.125em;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  width: 100%;
  opacity: 0;
  font-size: 60px;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.5s) forwards;
}

.subtitles .middle {
  margin: 30px auto;
}

.subtitles .smaller {
  font-size: 20px;
}

.subtitle span {
  color: #ff521b;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
