.info-container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  flex-direction: column;
}

.big-card {
  aspect-ratio: 3 / 2;
  height: 250px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card {
  position: absolute;
  height: 110px;
  aspect-ratio: 4.1/2;
  background-color: white;
  border-radius: 20px;
  z-index: -1;
}

.small-card img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 5px solid white;
}

.inner-box {
  height: 250px;
  width: 100%;
  border-radius: 50px;
  border: 5px solid white;
}

.big-card .lightblue {
  background-color: #62929e;
}

.big-card .blue {
  background-color: #4a6d7c;
}

.big-card .greyblue {
  background-color: #475657;
}

.card-links {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-links a {
  text-decoration: none;
  color: white;
}

.card-links a:hover {
  color: blue;
}

.link-icons {
  margin: 0 40px;
  height: 25px;
}

.inner-box h4 {
  margin-top: 10px;
  text-align: center;
}

.card-arrows {
  margin: 20px;
  height: 40px;
}

.big-card:hover .small-card:nth-child(1) {
  transform: translate(120%, -120%) rotate(17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(2) {
  transform: translate(120%, 120%) rotate(-17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(3) {
  transform: translate(-120%, 120%) rotate(17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(4) {
  transform: translate(-120%, -120%) rotate(-17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
