.info-container {
  min-height: 100px;
  background-color: #020122;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.big-card {
  aspect-ratio: 3 / 2;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 130px auto;
}

.big-card:nth-child(1) {
  margin-top: 50px;
}

.small-card {
  position: absolute;
  height: 110px;
  aspect-ratio: 4.1/2;
  background-color: white;
  z-index: -1;
  border-radius: 5px;
}

.small-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 3px solid white;
}

.inner-box {
  height: 250px;
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  position: relative;
}

.big-card .red {
  background-color: #ff521b;
}

.big-card .red-orange {
  background-color: #fd7b37;
}

.big-card .orange {
  background-color: #fc9e4f;
}

.big-card .yellow {
  background-color: #edd382;
}

.card-links {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-links a {
  text-decoration: none;
  color: white;
}

.card-links a:hover {
  color: #6495ed;
}

.link-icons {
  margin: 0 40px;
  height: 25px;
}

.inner-box h4 {
  margin-top: 10px;
  text-align: center;
}

.big-card:hover .small-card:nth-child(1) {
  transform: translate(120%, -120%) rotate(17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(2) {
  transform: translate(120%, 120%) rotate(-17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(3) {
  transform: translate(-120%, 120%) rotate(17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card:hover .small-card:nth-child(4) {
  transform: translate(-120%, -120%) rotate(-17deg);
  transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

@media screen and (max-width: 820px) {
  .big-card {
    margin: 170px auto;
  }
  .big-card:nth-child(1) {
    margin-top: 100px;
  }
  .big-card:hover .small-card:nth-child(1) {
    transform: translate(80%, -150%) rotate(17deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(2) {
    transform: translate(80%, 150%) rotate(-17deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(3) {
    transform: translate(-80%, 150%) rotate(17deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(4) {
    transform: translate(-80%, -150%) rotate(-17deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }
}

@media screen and (max-width: 630px) {
  .big-card {
    height: 200px;
    aspect-ratio: none;
    font-size: 14px;
    margin: 230px auto;
  }

  .small-card {
    height: 80px;
  }

  .big-card:hover .small-card:nth-child(1) {
    transform: translate(90%, -200%) rotate(22deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(2) {
    transform: translate(90%, 200%) rotate(-22deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(3) {
    transform: translate(-90%, 200%) rotate(22deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(4) {
    transform: translate(-90%, -200%) rotate(-22deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }
}

@media screen and (max-width: 500px) {
  .big-card {
    aspect-ratio: 1/1;
    height: 300px;
    margin: 100px auto;
  }

  .big-card:nth-child(1) {
    margin-top: 70px;
  }

  .big-card:hover .small-card:nth-child(1) {
    transform: translate(55%, -230%) rotate(5deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(2) {
    transform: translate(55%, 230%) rotate(-5deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(3) {
    transform: translate(-55%, 230%) rotate(5deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }

  .big-card:hover .small-card:nth-child(4) {
    transform: translate(-55%, -230%) rotate(-5deg);
    transition: 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  }
}
